<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h3>Company Home Page</h3>
<hr>

<p>
    User: <span sec:authentication="name"></span><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (only for MANAGER)
    </p>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/system}">IT System Meeting</a>
        (only for ADMIN)
    </p>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>
